@media only screen  and (min-width:448px)and (max-width:767px){
 

    /* pop-up contaner */
    .popup_container {
        width: 100vw;
        /* padding: 10px; */
    }

    .content {
        margin: 10px;
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }

    .left_content {
        width: 100vw;
    }

    .left_content>.img_poster {
        display: none;
    }

    .left_content>.xbar {
        top: 1%;
        right: 4%;
    }

    .left_content>.info {
        /* border: 1px solid red; */
        width:43%;
        /* border: 1px solid red; */
        padding: 1px 0;
        margin: -30px 30px 0 30px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;

    }

    .right_content {
        /* margin-top: -30px; */
        padding: 10px;
        width: 100vw;
        /* border: 2px solid red; */
    }

    .trailer {
        /* border: 2px solid green; */
        width: 100%;
    }

    .info_container .trailer iframe {
        width: 350px;
        height: 200px;
    }

    .right_content .overview {
        padding: 10px;
    }
}